# Ignoriere node_modules
server/node_modules/
client/node_modules/
node_modules/

# Ignoriere alle .env Dateien
.env

#ignore mock-data
mock_data

#ignore logs
logs/

#ignore output directory for wsd images
out

result_backup
tmf_data
tmf_data_https

survey